  <%- include("partials/header")%>
  <div class="search-area">
    <h1>Search for a movie</h1>
    <form action="/results" method=GET>
      <input  type="text" placeholder="search term" name="search" id="">
      <input class="btn" type="submit">
    </form>
  </div>
<%- include ('partials/footer')%>